

:root {
  --shadowDark: #BFCBEC;
  --background: #D4DCF2;
  --shadowLight: #EAEEF9;
}

body {
  background: var(--background);
}

.hero-body {
  justify-content: center;
}

.login {
  border-radius: 25px;
  padding: 1.5rem;
  box-shadow: 8px 8px 15px var(--shadowDark), -8px -8px 15px var(--shadowLight);
}

.font-new{
  font-family: Garamond, serif;
}

input {
  background: var(--shadowDark) !important;
}

a {
  font-weight: 600;
}
